.Search-form {
    margin-bottom: 33px;
}

.Search-Input {
    background: #2a2f45;
    border-radius: 2px;
    border-color: #2a2f45;
    font-size: 16px;
    line-height: 19px;
    color: #8A91AB;
    font-family: 'Titillium Web', sans-serif
}