.navbar {
    background: #2a2f45;
}

.Icon-home {
    width: 86px;
    height: 24px;
}

.Icon-shape {
    width: 86px;
    height: 24px;
}

.Icon-info {
    width: 86px;
    height: 24px;
}

.Icon-vector {
    width: 2px;
    height: 24px;
    margin-top: 3%;
}