.Info {
    background: #161b30;
}

.Info-Body {
    margin-bottom: 40px;
}

.Info-text {
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 150%;
    color: #FFFFFF;
}

.Info-title {
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 150%;
    color: #FFFFFF;
}

.Info-subtitle {
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 150%; 
    color: #FFFFFF;
}

.Info-point {
    color: #494F68;
    margin-right: 10px;
}
